@import '../../../assets/styles/mixins';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div {
        width: 33%;
    }
}

.teamCard {
    width: 100%;
}